@import '~antd/dist/antd.css';

.ant-modal-content {
    border-radius: 10px;
    /* background: red; */
  }

.ant-select-selector {
    height: 45px !important;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 10px !important;
}

.ant-select-arrow{
    color: #000000;
}